@CHARSET "UTF-8";

form {
	padding: 0 0 0 20px;
}

div {
	margin-top: 20px;
}

.input {
	display: block;

}

.button{
	margin-top: 10px;
	margin-left: 10px;
}

.error {
	display: inline;
	color: red;
}